{{#each this}}
  <li class='movies-list-item'>

    <img
      class='movie-poster'
      src='https://image.tmdb.org/t/p/original/{{poster_path}}'
      alt='{{original_title}}'
    />
    {{! poster_sizes "w92" "w154" "w185" "w342" "w500" "w780" "original" }}
    <div class='movie-card-info'>
      <p class='movie-title'><b>{{title}}</b></p>

      <div class='movie-card-details'>
        {{!-- {{#each this.genres}} --}}
          <p class='movie-details'> {{genre_ids}} | </p>
        {{!-- {{/each}} --}}
        <p class='movie-details'> {{release_date}} </p>
        <p class='movie-details-vote'> {{vote_average}} </p>
      </div>
    </div>

  </li>
{{/each}}